.search-bar
  %form.search-form.d-flex.align-items-center{:action => "#", :method => "POST"}
    %input{:name => "query", :placeholder => "Search", :title => "Enter search keyword", :type => "text"}/
    %button{:title => "Search", :type => "submit"}
      %i.fa-solid.fa-magnifying-glass