$white-background: #fff;
$body-background: #f6f9ff;
$text-color: #141414;
$primary-color: #012970;

// alerts light

$danger-back-light: #f8d7da;
$warning-back-light: #ffecb5;
$success-back-light: #badbcc;
$primary-back-light: #b6d4fe;
$info-back-light: #cff4fc;
$dark-back-light: #d3d3d4;

// alerts
$danger-back: #dc3545;
$warning-back: #ffc107;
$success-back: #198754;
$primary-back: #0d6efd;
$info-back: #f8f9fa;
$dark-back: #212529;

// colors

$color-primary: #0d6efd;
$color-secondary: #6c757d;
$color-success: #198754;
$color-info: #0dcaf0;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #212529;

// Fonts

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;